# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Static & Media
staticfiles/
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Coverage Reports
htmlcov/
.coverage
coverage.xml

# Temporary Files
*.tmp
*.swp